.avatars-circle {
  position: relative;
  width: 800px;

  &_item {
    backdrop-filter: blur(26.3028px);
    border-radius: 36.5952px;
    transition: top 1s ease-in-out, left 1s ease-in-out, border-radius 0.5s, transform 0.5s;
    position: absolute;
    overflow: hidden;

    &.active {
      backdrop-filter: blur(62px);
      border-radius: 60.9919px;
      z-index: 10;
      transform: scale(1.54, 1.66);
    }
  }
}
